* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    background-image: url('./images/main-bg.jpg');
    background-size: cover;
    background-position: 25%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header {
    align-self: flex-end;
    margin-right: 2rem;
}

section {
    width: 600px;
    height: 400px;
    margin: 20px;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 2px 2px 20px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#joke {
    padding: 1rem;
}

.buttonScore {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: pointer;
}

#next_btn {
    width: 150px;
    height: 50px;
    background-color: rgb(240, 219, 100);
    border: none;
    box-shadow: 1px 1px 5px gray;
    font-weight: bold;
    cursor: pointer;
}

